tr td {
    margin: 0;
    padding: 15px;
    border: 1px solid #5193B3;
    text-align: center;
}

tr {
    color: #5193B3;
    font-family: "Roboto";
    font-size: 20px;
}

tr .inpt {
    border: none;
    font-size: 17px;
    color: #5193B3;
}

tr .inpt:focus {
    outline: none;
}

.slct select{
    appearance: none;
    text-indent: 15px;
    display: block;
    width: 100%;
    font-size: 17px;
    color: #5193B3;
    border: 1px solid #5193B3;
    border-radius: 13px;
    background-image: url('../../sources/arrow-down.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
}

.tr .slct:focus {
    outline: none;
}

.table table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.btn_add {
    width: 350px;
    height: 35px;
    margin: 25px 5px 25px 0;
    border: none;
    border-radius: 15px;
    background-color: #5193B3;
    color: #FFF;
    font-weight: 700;
}

.btn_next {
    width: 350px;
    height: 35px;
    margin: 25px 5px 25px 0;
    border: none;
    border-radius: 15px;
    background-color: #F8D49A;
    color: #FFF;
    font-weight: 700;
}

.btn_add:hover{
    background-color: #61a5c7;
}

.btn_next:hover{
    background-color: #ffdfab;
}

.btns {
    display: flex;
    justify-content: center;
    width: 50%;
}

.finish_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inpt_desc {
    height: 17px;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 17px;
    color: #5193B3;
}

.inpt_desc::placeholder {
    color: #5193B3;
}