.content {
    padding-top: 55px;
    margin-left: 50px;
    margin-right: 20px;
    display: block;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto";
    color: #5193B3;
    font-size: 20px;
}

.title_block {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_block .title{
    font-size: 30px;
    font-weight: bold;
}

.title_block .btn_return{
    height: 35px;
    width: 15%;
    margin-top: 15px;
    border: none;
    border-radius: 15px;
    background-color: #F8D49A;
    color: #FFF;
    font-weight: 700;
    font-size: 15px;
}

.title_block .btn_return:hover{
    background-color: #ffdfab;
}

.info {
    margin: 20px 20px 0 0;
}

.info div{
    margin: 15px 0 0 0;
}

.comm {
    margin: 20px;
}

.slct select{
    appearance: none;
    text-indent: 15px;
    display: block;
    width: 50.7%;
    height: 45px;
    margin-top: 25px;
    border: 2px solid #5193B3;
    border-radius: 13px;
    font-size: 15px;
    color: #5193B3;
    background-image: url('../components//sources//arrow-down.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: calc(100% - 15px) center;
}

.inpt_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inpt {
    display: block;
    width: 50%;
    height: 40px;
    text-indent: 15px;
    border: 2px solid #5193B3;
    border-radius: 15px;
    font-size: 15px;
}

.inpt_block .inpt_desc {
    width: 88%;
    height: 228px;
    padding: 8px;
    margin-top: 25px;
    text-indent: 7px;
    border: 2px solid #5193B3;
    border-radius: 15px;
    font-family: inherit;
    font-size: 15px;
}

.inpt_block .inpt_desc::placeholder {
    text-indent: 7px;
    color: #5193B3;
}

.inpt_block {
    display: block;
}

.inpt::placeholder {
    text-indent: 15px;
    color: #5193B3;
}

.fin_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_done {
    margin-left: 20px;
    width: 97%;
    height: 40px;
    background-color: #5193B3;
    font-weight: bold;
    font-size: 15px;
    border: none;
    color: #FFF;
    border-radius: 15px;
}

.btn_done:hover {
    background-color: #61a5c7;
}

.btn_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    height: 35vh;
}